@charset "UTF-8";

body{
  background:#333  url('../images/bg.jpg') repeat top left;
  font-family: 'Yeon Sung', ;
}
ul.sdt_menu{
  margin-top:150px;
}
.st_card_body{
  border: 1px solid white;
}
.title_style{
  color : #E6E6E6
}
.index_bar_container{
  position: static;
  top: 0.5rem;
  left: 5rem;
}
.index_bar_position{
  position: relative;
}
.index_bar_size{
  width: 180px;
  height: 30px;
}
.index_button_size{
  width: 50px;
  height: 30px;
}
