@charset "UTF-8";

body{
  background:#333  url('../images/bg.jpg') repeat top left;
  font-family: 'arial' ;
}
ul.sdt_menu{
  margin-top:150px;
}
/* .st_card_body{
border: 1px solid white;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-around;
} */
.title_style{
  color : #6E6E6E
}
.index_bar_container{
  width: 300px;
  position: relative;
  top: 10px;
  left: 1020px;
}
.index_bar_size{
  width: 180px;
  height: 40px;
  border-radius:.25rem
}
.index_button_size{
  width: 70px;
  height: 40px;
}
#all_games_table{
  color: white;
}
.unvisible{
  /* visibility: hidden; */
  display: none;
}
#index_result{
  color: white;
}
#card_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card_platform_img{
  width: 1.5em;
  height: 1.5em;
  margin: 5px;
}
.card_game_img{
  width: 100%;
  height: 150px;
  border-radius: 0px;
}
.very_high_rate{
  box-shadow: 0px 0px 10px #E7F705;
}
.high_rate{
  box-shadow: 0px 0px 10px #E413EB;
}
.adjust_rate{
  box-shadow: 0px 0px 10px #0E08EC;
}
.low_rate{
  box-shadow: 0px 0px 10px #09F30D;
}
.card_style{
  margin: 10px;
  border-width: thin;
  border-color: #303030;
  border-style: outset;
  background-color: #707070;
}
s{
  font-size: 0.8rem;
  color: white;
  margin-right: 10px;
}
.card_discount_rate{
  font-weight: bold;
  font-size: 1.6rem;
  margin-left: 5px;
  margin-right: 10px;
}
.card_discount_price{
  font-size: 1.4rem;
  font-weight: bold;
}
.card_body_style{
  position: relative;
}
.btn_puchase{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn_wishlist{
  width: 100%;
  margin-bottom: -10px;
}
h4{
  height: 50px;
  font-size: 1em;
  font-weight: bold;
}
