@charset "UTF-8";

body{
  background:#333  url('../images/bg.jpg') repeat top left;
  font-family: 'arial' ;
}
ul.sdt_menu{
  margin-top:150px;
}
.title_style{
  color : #6E6E6E
}
.index_bar_container{
  width: 300px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.index_bar_size{
  width: 180px;
  height: 40px;
  border-radius:.25rem
}
.index_button_size{
  width: 70px;
  height: 40px;
}
#all_games_table{
  color: white;
}
#index_result{
  color: white;
}
#card_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card_platform_img{
  width: 1.5em;
  height: 1.5em;
  margin: 5px;
}
.card_game_img{
  width: 100%;
  height: 150px;
  border-radius: 0px;
}
.very_high_rate{
  box-shadow: 0px 0px 10px #E7F705;
}
.high_rate{
  box-shadow: 0px 0px 10px #E413EB;
}
.adjust_rate{
  box-shadow: 0px 0px 10px #0E08EC;
}
.low_rate{
  box-shadow: 0px 0px 10px #09F30D;
}
.card_style{
  margin: 10px;
  border-width: thin;
  border-color: #303030;
  border-style: outset;
  background-color: #707070;
}
s{
  font-size: 0.8rem;
  color: white;
  margin-right: 10px;
}
.card_discount_rate{
  font-weight: bold;
  font-size: 1.6rem;
  margin-left: 5px;
  margin-right: 10px;
}
.card_discount_price{
  font-size: 1.4rem;
  font-weight: bold;
}
.card_body_style{
  position: relative;
}
.btn_puchase{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn_wishlist{
  width: 100%;
  margin-bottom: -10px;
}
h4{
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.page_ul_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul.page_container li{
  display: inline;
  width: auto;
}
.page_list{
  margin-left: 5px;
  margin-right: 5px;
}
.page_ul_container{
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
.sign {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 450px;
  height: 70px;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
    );
    letter-spacing: 1;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 4em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }

  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }

  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }

  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }

  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }

  @keyframes flicker {
    from {
      opacity: 1;
    }

    4% {
      opacity: 0.9;
    }

    6% {
      opacity: 0.85;
    }

    8% {
      opacity: 0.95;
    }

    10% {
      opacity: 0.9;
    }

    11% {
      opacity: 0.922;
    }

    12% {
      opacity: 0.9;
    }

    14% {
      opacity: 0.95;
    }

    16% {
      opacity: 0.98;
    }

    17% {
      opacity: 0.9;
    }

    19% {
      opacity: 0.93;
    }

    20% {
      opacity: 0.99;
    }

    24% {
      opacity: 1;
    }

    26% {
      opacity: 0.94;
    }

    28% {
      opacity: 0.98;
    }

    37% {
      opacity: 0.93;
    }

    38% {
      opacity: 0.5;
    }

    39% {
      opacity: 0.96;
    }

    42% {
      opacity: 1;
    }

    44% {
      opacity: 0.97;
    }

    46% {
      opacity: 0.94;
    }

    56% {
      opacity: 0.9;
    }

    58% {
      opacity: 0.9;
    }

    60% {
      opacity: 0.99;
    }

    68% {
      opacity: 1;
    }

    70% {
      opacity: 0.9;
    }

    72% {
      opacity: 0.95;
    }

    93% {
      opacity: 0.93;
    }

    95% {
      opacity: 0.95;
    }

    97% {
      opacity: 0.93;
    }

    to {
      opacity: 1;
    }
  }
  .drop_platform{
    position: absolute;
    right: 250px;
    top: 20px;

    width: 200px;
    height: 40px;
  }
  .drop_filtering{
    position: absolute;
    right: 100px;
    top: 20px;;

    width: 130px;
    height: 40px;
  }
  .top_menu{
    width: 100%;
    height: 100px;
    position: relative;
  }
  .block {
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
.block:after {
	filter: blur(10px);
}
#index_result{
  position: absolute;
  top: 100px;
  right: 100px;
}
