<!DOCTYPE html>
<html>
<head>
  <title>판매목록</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Slide Down Box Menu with jQuery and CSS3" />
  <meta name="keywords" content="jquery, css3, sliding, box, menu, cube, navigation, portfolio, thumbnails"/>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--부트스트랩css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/game_sale_style/basic_style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet"><!--구글폰트-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!--ajax요청-->
  <script>
  // function search_params(key) {
  //   return new URLSearchParams(location.search).get(key);
  // };
  // console.log(search_params(platform));
  function get_query_string_object() {
    var a = window.location.search.substr(1).split('&');
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i) {
      var p = a[i].split('=', 2);
      if (p.length == 1)
      b[p[0]] = "";
      else
      b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    }
    return b;
  }
  var params = get_query_string_object();
  var platform = params.platform;
  var page = params.page;
  var sort = params.sort;
  var order = params.order;
  $(document).ready(
    $.ajax({
      type: "GET",
      url: "/all_games_info?platform=" + platform + "&sort=" + sort + "&order=" + order + "&page=" + page,
      data: {},
      success: function(response){
        console.log('good');
        var game_data = response['result'];
        for(var i = 0; i < game_data.length; i++){
          var game_platform = game_data[i]['platform'];
          var game_title = game_data[i]['title'];
          var game_img = game_data[i]['img'];
          var game_link = game_data[i]['link'];
          var game_original_price = game_data[i]['original_price'];
          var game_discount_rate = game_data[i]['discount_rate'];
          var game_discount_price = game_data[i]['discount_price'];
          $('#game_td').append("<tr><a href=" + game_link + "><td>" + game_platform + "</td><td>" + game_title + "</td><td>" + game_original_price + "</td><td>" + game_discount_rate + "</td><td>" + game_discount_price + "</td></a></tr>");
        }
        $.ajax({
          type:"GET",
          url: "/all_games_info?platform=" + platform + "&sort=" + sort + "&order=" + order + "&page=0",
          data: {},
          success : function(response){
            console.log('page_ajax_good');
            var max_game_data = response['result'].length;
            var max_page = Math.ceil(max_game_data/16)
            // $('.pagination').append("<li class=" + "\'page_item\'" + "><a class =" + "\'page-link\'" + "onclick=" + "\'change_page(" + page-1 +")\'" + ">이전</a></li>");
            for (i=1; i < max_page+1; i++){
              $('.pagination').append("<li class=" + "\'page_item\'" + "><a class =" + "\'page-link\'" + "onclick=" + "\'change_page(" + i +")\'" + ">" + i + "</a></li>")
            }
            // $('.pagination').append("<li class=" + "\'page_item\'" + "><a class =" + "\'page-link\'" + "onclick=" + "\'change_page(" + page+1 +")\'" + ">다음</a></li>")
          }
        })
      }
    })
  )
  $('.platform_down').ready(function(){
    if (platform == 'steam'){
      $('.steam_item').addClass('disabled')
    } else if(platform == 'uplay'){
      $('.uplay_item').addClass('disabled')
    }else if(platform == 'epic'){
      $('.epic_item').addClass('disabled')
    }else if(platform == 'gog'){
      $('.gog_item').addClass('disabled')
    }else if(platform == 'humble'){
      $('.humble_item').addClass('disabled')
    }else if(platform == 'direct'){
      $('.direct_item').addClass('disabled')
    };
    $('.filter_menu').ready(function(){
      if(sort == 'discount_price' && order == 'asc'){
        $('.low_price_item').addClass('disabled')
      }else if (sort == 'discount_price' && order == 'dsc') {
        $('.high_price_item').addClass('disabled')
      }else if (sort == 'discount_rate' && order == 'asc') {
        $('.low_rate_item').addClass('disabled')
      }else if (sort == 'discount_rate' && order == 'dsc') {
        $('.high_rate_item').addClass('disabled')
      }
    })
  })
  var tmp_href = location.href.split("?");
  var front_url = tmp_href[0];
  var tmp_param = tmp_href[1].split("&");
  var param_platform = tmp_param[0];
  var param_sort = tmp_param[1];
  var param_order = tmp_param[2];
  var param_page = tmp_param[3];
  function change_platform(changed_platform){
    location.replace(front_url + '?platform=' + changed_platform + '&sort=discount_rate&order=dsc&page=1')
  }
  function change_filter(changed_sort,changed_order){
    location.replace(front_url + '?' + param_platform + '&sort=' + changed_sort + '&order=' + changed_order + '&page=1')
  }
  function change_page(changed_page) {
    location.replace(front_url + '?' + param_platform + '&' + param_sort + '&' + param_order + '&page=' + changed_page)
  }


  </script>
</head>
<body>
  <a href="/serial_seller"><h1 class="title_style">연쇄 할인마(게임할인정보모음)</h1></a>
  <h2>판매목록</h2>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      다른 플랫폼 둘러보기
    </button>
    <div class="dropdown-menu platform_menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item steam_item" href="#" onclick="change_platform('steam')">스팀</a>
      <a class="dropdown-item uplay_item" href="#" onclick="change_platform('uplay')">유플레이</a>
      <a class="dropdown-item epic_item" href="#" onclick="change_platform('epic')">에픽스토어</a>
      <a class="dropdown-item gog_item" href="#" onclick="change_platform('gog')">GOG.com</a>
      <a class="dropdown-item humble_item" href="#" onclick="change_platform('humble')">험블번들</a>
      <a class="dropdown-item direct_item" href="#" onclick="change_platform('direct')">다이렉트게임즈</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      필터링 변경
    </button>
    <div class="dropdown-menu filter_menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item low_price_item" href="#" onclick="change_filter('discount_price','asc')">최저가 순서</a>
      <a class="dropdown-item high_price_item" href="#" onclick="change_filter('discount_price','dsc')">최고가 순서</a>
      <a class="dropdown-item low_rate_item" href="#" onclick="change_filter('discount_rate','asc')">최저할인율 순서</a>
      <a class="dropdown-item high_rate_item" href="#" onclick="change_filter('discount_rate','dsc')">최고할인율 순서</a>
    </div>
  </div>
  <table id="all_games_table">
    <thead>
      <tr>
        <td>플랫폼</td>
        <td>게임</td>
        <td>원가</td>
        <td>할인율</td>
        <td>할인가</td>
      </tr>
    </thead>
    <tbody id="game_td">
    </tbody>
  </table>
  <ul id="card_container">

  </ul>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <!-- <li class="page-item"><a class="page-link" href="#" onclick="change_page('1')">1</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="change_page('2')">2</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="change_page('3')">3</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="change_page('4')">4</a></li>
      <li class="page-item"><a class="page-link" href="#" onclick="change_page('5')">5</a></li> -->
    </ul>
  </nav>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!--부트스트랩js-->

</body>
</html>
