<!DOCTYPE html>
<html>
<head>
  <title>스팀 판매</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Slide Down Box Menu with jQuery and CSS3" />
  <meta name="keywords" content="jquery, css3, sliding, box, menu, cube, navigation, portfolio, thumbnails"/>
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--부트스트랩css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/game_sale_style/basic_style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet"><!--구글폰트-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!--ajax요청-->
  <script>
  // function search_params(key) {
  //   return new URLSearchParams(location.search).get(key);
  // };
  // console.log(search_params(platform));
  function get_query_string_object() {
    var a = window.location.search.substr(1).split('&');
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i) {
        var p = a[i].split('=', 2);
        if (p.length == 1)
            b[p[0]] = "";
        else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    }
    return b;
}
var params = get_query_string_object();
var platform = params.platform;
console.log(platform);
  </script>
</head>
<body>
  <a href="/serial_seller"><h1 class="title_style">연쇄 할인마(게임할인정보모음)</h1></a>
  <h2>스팀 판매목록</h2>
  <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      정렬방법변경
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item change_sort">최저 판매가</button>
      <button class="dropdown-item change_sort">최고 할인율</button>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      다른 플랫폼 보기
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button id="cp_uplay" class="dropdown-item change_platform">유플레이</button>
      <button id="cp_gog" class="dropdown-item change_platform">GOG</button>
      <button id="cp_epic" class="dropdown-item change_platform">에픽게임즈</button>
      <button id="cp_humble" class="dropdown-item change_platform">험블번들</button>
    </div>
  </div> -->
  <ul id="card_container">

  </ul>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!--부트스트랩js-->

</body>
</html>
